musicxml_parser/
.idea/
chopin_cleaned/
midi_utils/
mscx_files/
*.pyc
**/.DS_Store
env/
env/**
data/test_result/**
data/train/training_data.dat
**/training_data.dat
VqzVzJBT
VqxVzJBT
.vscode/.ropeproject
