musicxml_parser/
.idea/
chopin_cleaned/
midi_utils/
mscx_files/
*.pyc
**/.DS_Store
env/
env/**
data/test_result/**
data/train/training_data.dat
**/training_data.dat
VqzVzJBT
VqxVzJBT
.vscode/.ropeproject
.vscode/settings.json
**/settings.json
.env
**/training_data.pickle
**/training_data_test.pickle
**/training_data_stat.pickle

.ipynb_checkpoints
**/.ipynb_checkpoints

artifacts
**/artifacts
**/artifacts/*

source.zip
**/source
**/trill_source